<div> 
  This is a short date: {{ presentDate | date: 'shortDate' }}<br>
  This line shows the full date: {{presentDate | date: 'fullDate'}}<br>
  This will show a formatted date: {{ presentDate | date: 'M/dd/yyyy' }}<br>
  This indicates the hours and minutes: {{ presentDate | date: 'h:mm a' }}<br>
  Today's date: {{presentDate | date}}
</div>
<br>
<div>
  Date with uppercase ; {{presentDate | date:'fullDate' | uppercase}}<br>
  Date with uppercase ; {{presentDate | date:'medium' | lowercase}}
</div>

<div>
  Seconds changing in Time: {{time$ | async | date: 'mediumTime'}}
</div>

<div>
  <h2>Json Pipes!</h2>
  <p>Object: {{ testObject }}</p>
  <p>Object with JsonPipe: {{ testObject | json }}</p>
  <p>array: {{ testArray }}</p>
</div>

<div>
  <h3>Currecy Pipe</h3>
  <p>Price {{ price | currency:'EUR':true }}</p>
  <p>{{ price | currency: 'EUR' }}</p>
</div>

<div>
  <h3>Start Index: {{ fruits | slice:2 }}</h3>
  <h4>Start and end index: {{ fruits | slice:1:4 }}</h4>
  <h5>Negative index: {{ fruits | slice:-2 }}</h5>
  <h6>Negative start and end index: {{fruits | slice:-4:-2}}</h6>
</div>

<div>
  <h3>Decimal Pipe</h3>
  <p>{{decimalNum1 | number}}</p>
  <p>{{decimalNum2 | number}}</p>
  <p>Apply Formatting: {{decimalNum1 | number:'3.1'}}</p>
  <p>Apple Formatting: {{decimalNum1 | number:'2.1-4'}}</p>
</div>
<router-outlet />
